<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Şifre Sıfırla</title>
</head>
<body>
    <h2>Şifre Sıfırla</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br><br>

        {{ form.new_password.label }}<br>
        {{ form.new_password(size=32) }}<br><br>

        {{ form.submit() }}
    </form>

    <p><a href="{{ url_for('main.login') }}">Giriş ekranına dön</a></p>
</body>
</html>
